body {
  font-family: "Raleway", sans-serif;
  padding: 5px 20px 5px 50px;
}

.titleNav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

#logoReservia {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

nav {
  width: 450px;
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding-right: 10px;
}

#logoReservia img {
  width: 200px;
}

a {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #0065ff;
  border-top: 2px solid #0065ff;
}

.Inscription {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #0065ff;
}

.trouvez {
  font-weight: bolder;
  font-size: 25px;
}

.enPlein {
  font-size: 18px;
}

#searchField {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
}

.markerIcon {
  border-radius: 16px 0 0 16px;
  background-color: #f2f2f2;
  width: 10%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  width: 50%;
  height: 46px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

input::placeholder {
  padding-left: 10px;
  font-size: large;
  font-weight: 650;
  color: #000000;
}

#searchButton {
  border-radius: 0 16px 16px 0;
  border: none;
  width: 30%;
  height: 49px;
  background-color: #0065ff;
  color: white;
  font-size: large;
  font-weight: 500;
}

.magnifyGlass {
  border-radius: 16px 16px 16px 16px;
  background-color: #0065ff;
  color: white;
  width: 15%;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

h2 {
  margin-right: 20px;
}

#filtersBlock {
  width: 100%;
  height: auto;
  margin: 30px 0px 30px 0px;
  padding-left: 0px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

li {
  border: 3px solid #f2f2f2;
  border-radius: 100px;
  font-size: 20px;
  padding-right: 25px;
  margin-right: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

li:hover {
  color: #0065ff;
  background-color: #deebff;
  font-style: italic;
}

.filterIcon {
  border-radius: 50%;
  color: #0065ff;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#infoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065ff;
  border: 2px solid #f2f2f2;
  border-radius: 50% 50% 50% 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.infoLine {
  display: flex;
  align-items: center;
  flex-direction: row;
}

main {
  height: 700px;
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 580px) {
  main {
    flex-direction: column;
  }
}

#homeSection {
  border-radius: 20px;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin: 0px 20px 40px 10px;
}

h3 {
  padding-left: 40px;
}

#cardBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hotelCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}

.hotelCard:hover {
  border: none;
  color: black;
}

.cardImage img {
  width: 210px;
  height: 110px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  padding: 5px;
}

.hotelInfo {
  width: 100%;
  margin: 0px 0px 0px 20px;
}

.hotelName {
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

.priceInfo {
  margin: 0px 0px 5px 0px;
}

.starRating {
  color: #0065ff;
  margin-bottom: 5px;
}

.greyStar {
  color: lightgray;
}

#extendLink {
  font-size: larger;
  font-weight: bold;
  margin-top: 30px;
  padding-left: 40px;
}

#popularSection {
  max-width: 100%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#popularBlock {
  height: auto;
  display: flex;
  flex-direction: column;
}

.popularCard {
  margin: 20px;
  height: 150px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}

.popularCard img {
  width: 120px;
  height: 140px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
  padding: 5px;
}

#popularBlock :hover {
  border: none;
  color: black;
}

.popularInfo {
  padding-left: 10px;
}

.popularName {
  font-weight: 700;
}

.popularPrice {
  padding-bottom: 20px;
}

section {
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: none;
  width: 100%;
  background-color: #f2f2f2;
}

h4 {
}
