body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

.allBlocks {
  margin: 0px;
}

.headerBlock {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.siteLogo {
  width: 40%;
  padding-left: 20px;
}

.signIn {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.signinLink {
  text-decoration: none;
  color: #0065ff;
  font-weight: 700;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.navMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
}

.anchorHebergement {
  width: 50%;
  border-bottom: 2px solid #0065ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.anchorActivités {
  width: 50%;
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.hebergeLink {
  text-decoration: none;
  color: #0065ff;
}

.activLink {
  text-decoration: none;
  color: black;
}

.introBlock {
  width: 100%;
  margin: 20px;
}

.introOne {
  width: 80%;
  font-weight: 700;
  font-size: x-large;
}

.introTwo {
  font-size: large;
}

.searchBlock {
  width: 100%;
  height: 55px;
  display: flex;
  padding: 0px 10px 0px 20px;
  margin-top: 30px;
}

.markerIcon {
  width: 15%;
  border-radius: 20px 0px 0px 20px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  width: 60%;
  border: 1px solid #f2f2f2;
  border-right: none;
  display: flex;
}

input {
  font-weight: bolder;
  font-size: large;
  border: none;
  padding-left: 10px;
}

input::placeholder {
  color: black;
  font-family: "Raleway", "Times New Roman", Times, serif;
}

button {
  display: none;
}

.searchIcon {
  width: 15%;
  border-radius: 20px 20px 20px 20px;
  background-color: #0065ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtersBlock {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.filtersList {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.filter {
  width: fit-content;
  height: 35px;
  font-weight: bold;
  font-size: large;
  border: 3px solid #f2f2f2;
  border-left: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 10px;
  padding-right: 20px;
}

.filterIcon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #deebff;
  color: #0065ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.infoLine {
  font-size: larger;
  margin: 20px;
  display: flex;
  align-items: center;
}

.infoIcon {
  width: 30px;
  height: 30px;
  color: #0065ff;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.popularBlock {
  padding-top: 10px;
  background-color: #f2f2f2;
}

.titleIcon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  padding-left: 20px;
  display: flex;
}

.popularIcon span {
  font-size: x-large;
  padding-right: 25px;
}

.popularOptions {
  padding: 0px 0px 10px 25px;
}

.popularCard {
  text-decoration: none;
  color: black;
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 20px;
  padding-right: 20px;
  margin: 20px 20px 20px 0px;
}

.clickableImagePop {
  padding: 5px;
}

.imageFittingCard {
  object-fit: cover;
  width: 130px;
  height: 150px;
  border-radius: 20px 0px 0px 20px;
}

.popularInfo {
  display: flex;
  flex-direction: column;
}

.hotelName {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
  margin-top: 15px;
}

.priceInfo {
  margin-bottom: 40px;
}

.starRating {
  color: #0065ff;
}

.greyStar {
  color: #f2f2f2;
}

#housingBlock {
  padding: 10px 0px 0px 0px;
}

.housingOptions {
  padding: 0px 0px 20px 15px;
}

.housingCard {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 20px;
  margin: 20px 20px 20px 0px;
}

.clickableCard {
  padding: 0px 0px 5px 0px;
}

.housingFittingImage {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.housingInfo {
  margin: 0px 0px 20px 10px;
}

.housingName {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10px;
}

.housingPrice {
  margin-bottom: 10px;
}

.displayMore {
  font-weight: bold;
  font-size: larger;
  padding-left: 20px;
  padding-bottom: 20px;
}

#activityBlock {
  padding: 10px 0px 0px 0px;
}

.activityOptions {
  margin: 10px 0px 0px 20px;
}

.vieuxPortCard {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 20px;
  margin: 20px 20px 20px 0px;
}

.vieuxPortPic {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.pomèguesCard {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 20px;
  margin: 20px 20px 20px 0px;
}

.pomèguesPic {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.frioulCard {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 20px;
  margin: 20px 20px 20px 0px;
}

.frioulPic {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.calanquesCard {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 20px;
  margin: 20px 20px 20px 0px;
}

.calanquesPic {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.notreDameCard {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 20px;
  margin: 20px 20px 20px 0px;
}

.notreDamePic {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.longchampCard {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 20px;
  margin: 20px 20px 20px 0px;
}

.longchampPic {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}

.cardName {
  font-weight: bold;
  font-size: large;
  padding-left: 10px;
}

footer {
  background-color: #f2f2f2;
}

.footerSection {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .headerBlock {
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
  }

  .siteLogo {
    width: 50%;
  }

  nav {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    order: 1;
    margin: 0px;
  }

  .anchorHebergement {
    border-bottom: none;
    border-top: 1px solid #0065ff;
    padding: 30px;
  }

  .anchorActivités {
    border: none;
    padding: 0px;
  }

  .signIn {
    width: 20%;
    display: flex;
    justify-content: center;
    order: 2;
    margin-right: 10px;
  }

  .searchBlock {
    width: 50%;
  }

  button {
    width: 30%;
    border-radius: 0px 20px 20px 0px;
    border: none;
    background-color: #0065ff;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchIcon {
    display: none;
  }

  .popImage {
    width: 50%;
  }

  .imageFittingCard {
    width: 336.4px;
    border-radius: 20px;
  }

  .popularInfo {
    margin-left: 30px;
  }

  .housingOptions {
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .housingCard {
    width: 45%;
  }

  .activityOptions {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .vieuxPortCard {
    width: 25%;
    height: 200px;
  }

  .vieuxPortPic {
    height: 180px;
  }

  .cardColumnOne {
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  .pomèguesCard {
    width: 50%;
    height: 200px;
  }

  .pomèguesPic {
    height: 145px;
  }

  .frioulCard {
    width: 50%;
    height: 200px;
  }

  .calanquesCard {
    width: 25%;
    height: 200px;
  }

  .calanquesPic {
    height: 180px;
  }

  .cardColumnTwo {
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  .notreDameCard {
    width: 45%;
    height: 200px;
  }

  .notreDamePic {
    height: 125px;
  }

  .longchampCard {
    width: 45%;
    height: 200px;
  }

  .longchampPic {
    height: 125px;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .headerBlock {
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
  }

  .siteLogo {
    width: 70%;
  }

  nav {
    width: 20%;
    display: flex;
    order: 1;
    margin: 0px;
  }

  .anchorHebergement {
    border-bottom: none;
    /* border-top: 1px solid #0065ff; */
    padding: 30px;
  }

  .anchorHebergement:hover {
    border-top: 1px solid #0065ff;
  }

  .hebergeLink {
    color: black;
  }

  .hebergeLink:hover {
    color: #0065ff;
  }

  .anchorActivités {
    border: none;
    padding: 0px;
    margin-left: 30px;
  }

  .anchorActivités:hover {
    border-top: 1px solid #0065ff;
  }

  .activLink:hover {
    color: #0065ff;
  }

  .signIn {
    width: 15%;
    display: flex;
    justify-content: center;
    order: 2;
    margin-right: 50px;
  }

  .introOne {
    font-size: x-large;
  }

  .searchBlock {
    width: 35%;
  }

  button {
    width: 30%;
    border-radius: 0px 20px 20px 0px;
    border: none;
    background-color: #0065ff;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchIcon {
    display: none;
  }

  .filtersBlock {
    align-items: baseline;
  }

  .filter {
    margin-right: 20px;
  }

  .filtersList :hover {
    background-color: #deebff;
    color: #0065ff;
  }

  .infoLine {
    font-size: medium;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  .popularBlock {
    order: 2;
    width: 30%;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
  }

  .popularCard {
    margin-bottom: 30px;
  }

  .popularCard:hover {
    transform: scale(1.05);
  }

  #housingBlock {
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .housingOptions {
    display: flex;
    flex-wrap: wrap;
  }

  .housingCard {
    width: 31%;
  }

  .housingCard:hover {
    transform: scale(1.05);
  }

  .housingFittingImage {
    height: 100px;
  }

  .clickableCard {
    padding: 5px;
  }

  housingInfo {
    margin: 0px 0px 20px 10px;
  }

  .housingName {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
  }

  .housingPrice {
    margin-bottom: 15px;
  }

  .starRating {
    margin-bottom: 0px;
  }

  #activityBlock {
    width: 100%;
  }

  .activityOptions {
    display: flex;
  }

  .vieuxPortCard {
    width: 25%;
  }

  .vieuxPortPic {
    height: 405px;
  }

  .cardColumnOne {
    width: 25%;
  }

  .pomèguesCard {
    margin-bottom: 40px;
  }

  .pomèguesPic {
    height: 200px;
  }

  .frioulPic {
    height: 110px;
  }

  .calanquesCard {
    width: 25%;
  }

  .calanquesPic {
    height: 405px;
  }

  .cardColumnTwo {
    width: 25%;
  }

  .notreDameCard {
    margin-bottom: 40px;
  }

  .notreDamePic {
    height: 130px;
  }

  .longchampPic {
    height: 180px;
  }

  footer {
    display: flex;
  }

  .footerSection {
    margin: 0px 250px 0px 20px;
  }

  .footerSection a {
    color: black;
  }

  .footerSection a:hover {
    color: #0065ff;
  }
}
